copy the vmvp inot the final .py notebook to work with the tables 

using the pandas + sql page use the df.to sql two lines 
#THIS PART
df.to_sql('XXXX', conn) # Create/write table

pd.read_sql('SELECT int_column, date_column FROM test_data', conn) 
#THIS PART

do some group, do some join 
one select targetting year (similar to mvp) using the function select count 

then have to disply it using streamlit 

then use the other selcts to make 2 other tables 

then make a py file to present it

In [2]:
#import, connect to the database and create a cursor (temporary memory_)
import pandas as pd
import sqlite3
from sqlite3 import connect

#extract the "countries" data from the database

con = sqlite3.connect('ecsel_database.db')
#conn = connect('ecsel_database.db')
df_participants = pd.read_sql('''SELECT participants.*, projects.year 
FROM participants
INNER JOIN projects
ON participants.projectID = projects.projectID''', con)
print (df_participants)


#select countries From the dataframe by 


#validate the country search 
country_selected = str(input("Please select your desired country: "))
while country_selected not in df_participants_complete.loc[:,'Country'].tolist():
    print("Invalid country")
    country_selected = str(input("Please select your desired country: "))

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 46))

DatabaseError: ignored

copy the vmvp inot the final .py notebook to work with the tables 

using the pandas + sql page use the df.to sql two lines 

do some group, do some join 
one select targetting year (similar to mvp) using the function select count 

then have to disply it using streamlit 

then use the other selcts to make 2 other tables 

then make a py file to present it